<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <style>

        body {
            text-align: center;
            margin: 50px;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
            color: #666;
        }
    </style>
</head>
<body>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>
<h1>Has salido de tu sesion.</h1>
    <a href="{% url 'home' %}">Volver</a>
</body>
</html>