<!-- AppFutbol/templates/editar_equipo.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Equipo</title>
</head>
<body>
    <h1>Editar Equipo</h1>
    <form method="post" action="{% url 'editar_equipo' equipo.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
    <a href="{% url 'mostrar_equipos' %}">Volver a la lista de Equipos</a>
</body>
</html>
