<!-- AppFutbol/templates/agregar_equipo.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Equipo</title>
</head>
<body>
    <h1>Agregar Equipo</h1>
    <form method="post" action="{% url 'agregar_equipo' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <span style="color: red;">{{ form.puntaje.errors }}</span> <!-- Muestra el mensaje de error del puntaje -->
        <label for="imagen">Imagen:</label>
        {{ form.imagen }}
        <button type="submit">Guardar</button>
    </form>
    <p>Nota: El puntaje debe estar en el rango de 0 a 10.</p>
    <a href="{% url 'mostrar_equipos' %}">Volver a la lista de Equipos</a>
</body>
</html>