<!-- AppFutbol/templates/equipos.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
</head>
<body>
{% extends 'base/base.html' %}
{% block cambio %}
    <h1>Var-ristas</h1>
    <p>Opiniones de Fans que algo saben de futbol</p>
<hr>
    <h1>Listado de Equipos</h1>
        <!-- este es el buscador -->
    <div>
    <form action="/futbol/buscar_equipos" method="GET">

        {{ form.as_p }}

        <input type="submit" value="Buscar">

    </form>
    </div>
    <a href="{% url 'agregar_equipo' %}">Agregar Equipo</a> <br>

            <hr>

            <!-- Aqui se hace el listado -->
    <p>
        {% for equipo in equipos %}
            <li>{{ equipo.nombre }} - Puntaje: {{ equipo.puntaje }}</li> <br>
            <p>
                <a href="{% url 'EquipoDetalle' equipo.id %}">Detalles</a>
            </p>
            <p>
            <a href="{% url 'editar_equipo' equipo.id %}">Editar</a>
            </p>
            <p>
            <a href="{% url 'EquipoEliminar' equipo.id %}">Eliminar</a>
            </p>


            <hr>
        {% endfor %}
    </p>
{% endblock %}

</body>
</html>