<!-- AppFutbol/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Var-ristas</title>
    <style>

        body {
            text-align: center;
            margin: 50px;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
            color: #666;
        }
    </style>
</head>
<body>
{% block cambio %}
    <h1>Var-ristas</h1>
    <p>Opiniones de Fans que algo saben de futbol</p>
{% endblock %}
</body>
</html>
