<!-- AppFutbol/templates/seleccionar_categoria.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Categoría</title>
</head>
<body>
    <h1>Seleccione una categoría</h1>
    <ul>
        <li><a href="{% url 'mostrar_equipos' %}">Equipos</a></li>
        <li><a href="{% url 'mostrar_jugadores' %}">Jugadores</a></li>
        <li><a href="{% url 'mostrar_entrenadores' %}">Entrenadores</a></li>
    </ul>
</body>
</html>
