<!-- AppFutbol/templates/editar_equipo.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jugador</title>
</head>
<body>
    <h1>Editar Jugador</h1>
    <form method="post" action="{% url 'editar_jugador' jugador.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
    <a href="{% url 'mostrar_jugadores' %}">Volver a la lista de Jugadores</a>
</body>
</html>
